#!/usr/bin/make -f

DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)

%:
	dh  $@ --with autoreconf

ifeq ($(DEB_HOST_ARCH_OS),kfreebsd)
override_dh_fixperms:
	dh_fixperms -Xusr/bin/wmmemload
endif

get-orig-source:
	uscan --verbose --force-download --no-symlink
	@if test -e ../wmmemload-*.download ; then \
		rename -fv "s/wmmemload-(.+)\.download/wmmemload_\1\.orig\.tar\.gz/" \
			../wmmemload-*.download; \
	fi
